/* Navbar.css */

/* Existing styles */

.navbar {
    background-color: #333;
    padding: 10px;
}

.navButtons {
    display: flex;
    justify-content: space-around;
}

.navButton {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.navButton:hover {
    background-color: #777;
}

.contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.statements {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-left: 50px;
}

.statement {
    margin-bottom: 10px;
    text-align: left;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* New Services Section */
.servicesSection {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.servicesSection1 {
    text-align: center;
    /* margin: 20px 0; */
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #e3effd;
}

.imageGroup {
    display: flex; 
    justify-content: space-between; /* Space between images */
    align-items: center; 
    gap: 8px; /* Reduced gap between images */
 /*   padding: 20px;  Optional padding for spacing */
}

.imageItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heartImage, .calanderImage, .patientImage {
    width: 50px; 
    height: auto;
}




